<template name="KlaytnLoginButton">

    {{#if currentUser}}
        <div>
            {{currentUserName}} | <a class="KlaytnLogOutButton">Log Out▾</a>
        </div>
    {{else if loggingIn}}
        로그인중...
    {{else}}
        <div>
            <a class="KlaytnLoginButton">Klaytn Sign in ▾</a>
        </div>

        {{#if signinMode}}
            <div>
                <p><input type="text" name="email" placeholder="Mail"></p>
                <p><input type="text" name="name" placeholder="Name"></p>
                <p><input type="text" disabled name="password" value="{{pk}}" placeholder="Secret key">
                    <input type="button" name="createPrivateKey" value="Create secret key">
                    <input type="button" name="copyPrivateKey" value="Copy">
                </p>
                <p>Save secret to somewhere. <br/>You can't find if you forgot it.</p>
                <p><button name="signUp">Sign up</button>
                    <button name="cancel">Cancel</button></p>
                <p><div class="goLogin">[Sign in]</div></p>
            </div>
        {{/if}}
        {{#if loginMode}}
            <div>
                <p><input type="text" name="loginEmail" placeholder="Mail"></p>
                <p><input type="text" name="loginPassword" placeholder="Secret key"></p>
                <p><button name="login">Sign in</button>
                    <button name="cancel">Cancel</button></p>
                <p>
                    <a href="/signin" class="goSignin">[Sign up]</a>
                </p>
            </div>
        {{/if}}


    {{/if}}

</template>
