<template name="login">
    <div id="login">
        <div class="login_wrap">
            <span class="logo">SIGHT STOCK</span>
            <h3>LOGIN</h3>
            <div class="col">
                <input type="text" name="loginEmail" placeholder="mail">
            </div>
            <div class="col">
                <input type="text" name="loginPassword" placeholder="password">
            </div>
            <div class="login_wrap__btns_wrap">
                <button class="btn btn-secondary " name="login">LOGIN</button>
                <a href="/signin" class="goSignin">SIGNIN</a>
            </div>

        </div>
    </div>

</template>
