<template name="signin">
    <div id="signin">
        <div class="signin_wrap">
            <span class="logo">SIGHT STOCK</span>
            <h3>SIGN IN</h3>
            <div class="col">
                <input type="text" name="email" placeholder="Mail">
            </div>
            <div class="col">
                <input type="text" name="name" placeholder="Name">
            </div>
            <div class="col">
                <div class="private_key_wrap" title="Create a secret key and store it in a safe place. You will never find it if you lose it.">
                    <span>
                         <input type="text" name="privateKey" value="{{pk}}" placeholder="Private Key" />
                        <i class="fa fa-copy" name="copyPrivateKey"></i>
                    </span>
                    <button class="btn create-key btn-secondary" type="button" name="createPrivateKey">Privatekey generation</button>
                </div>

            </div>
            <div class="signin_wrap__btns_wrap">
                <button name="signUp" class="btn btn-secondary">SIGN UP</button>
                <a href="/login" class="goSignin">LOG IN</a>
            </div>
        </div>
    </div>
</template>
