<template name="funding">
    {{isActiveRoute regex='funding/total'}}
    <!--{{isActiveRoute regex='funding'}}-->
    <nav class="breadcrumb_wrap" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="#none">All</a></li>
            <li class="breadcrumb-item "><a href="#none">In prog</a></li>
            <li class="breadcrumb-item "><a href="#none">Completed</a></li>
        </ol>
    </nav>

    <div>
        {{>fundingList}}
    </div>

</template>