<template name="uploadProposalModal">
    <div class="modal fade" id="uploadProposalModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="proposalForm" name="proposal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Upload project </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                     <div class="modal-body">
                        <table class="table table-bordered">
                            <colgroup>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th scope="col">Title</th>
                                <td colspan="3">
                                    <input type="text" class="form-control" name="title" placeholder="Title"/>
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Thumbnail</th>
                                <td colspan="3">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="proposalThumbnail" data-proposal="thumbnail" />
                                        <label class="custom-file-label" for="proposalThumbnail">Select File</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Par value</th>
                                <td>
                                    <input type="text" name="issuePrice" class="form-control" placeholder="ex) 100" />
                                </td>
                                <th scope="col">Number of issued shares</th>
                                <td>
                                    <input type="text" name="issueCount" class="form-control" placeholder="ex) 100"/>
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Production cost</th>
                                <td>
                                    <input type="text" name="prodCost" class="form-control" placeholder="ex) 100" />
                                </td>
                                <th scope="col">Selling price</th>
                                <td>
                                    <input type="text" name="usingCost" class="form-control" placeholder="ex) 100"/>
                                </td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td colspan="3">
                                    <textarea name="description" class="form-control" aria-label="With textarea"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th>Hashtag</th>
                                <td colspan="3">
                                    <div class="hashtags-wrapper">
                                        <div class="created">
                                        </div>
                                        <span>
                                            <input type="text" class="form-control" placeholder=""/>
                                            <button class="btn btn-primary save_hastag" type="button" >SAVE</button>
                                        </span>
                                    </div>
                                </td>

                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCLE</button>
                        <button type="submit" class="btn btn-primary" data-upload="saveBtn">SAVE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>