<template name="investList">
    <table id="dtMaterialDesignExample" class="table table-striped" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th class="th-sm">Content Num</th>
            <th class="th-sm">Invest Num</th>
            <th class="th-sm">Content Title</th>
            <th class="th-sm">Par value</th>
            <th class="th-sm">Number of shares</th>
            <th class="th-sm">Equity interest rate</th>
            <th class="th-sm">Evaluation score</th>
            <th class="th-sm"></th>
        </tr>
        </thead>
        <tbody>
		{{#each investList}}
            {{>investItem}}
		{{/each}}
        </tbody>
        <tfoot>

        </tfoot>
    </table>

</template>

<template name="investItem">

    <tr>
        <td>{{contentId}}</td>
        <td>{{_id}}</td>
        <td>{{contentName}}</td>
        <td>{{parValue}}</td>
        <td>{{shareNum}}</td>
        <td class="group">

            {{#if checkUpload contentId score}}
                <input name="scoreInput_{{_id}}" min="3" max="10" style="width: 60px;" type="number" value={{score}}>
            {{else}}
                <input name="scoreInput_{{_id}}" min="3" max="10" readonly style="width: 60px;" type="number" value={{score}}>
            {{/if}}

        </td>
        <td>
            {{#if checkUpload contentId score}}
                <button name="rating" style="display: inline" type="button" class="btn btn-secondary">Evaluate</button>
            {{/if}}
        </td>
    </tr>
</template>