<template name="usageList">
    <table id="dtMaterialDesignExample" class="table table-striped" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th class="th-sm">Content Num
            </th>
            <th class="th-sm">No.
            </th>
            <th class="th-sm">Content title
            </th>
            <th class="th-sm">Used KLAY
            </th>
            <th class="th-sm">Paid At
            </th>
            <th class="th-sm">
            </th>
        </tr>
        </thead>
        <tbody>
        {{#each usageList}}
            <tr>
                <td>{{contentId}}</td>
                <td>{{_id}}</td>
                <td>{{contentName}}</td>
                <td>{{usedKlay}}</td>
                <td>{{prodFinishAt paidAt}}</td>
                <td>
                    <button name="downloadBtn" type="button" class="btn btn-secondary">
                        DOWNLOAD
                    </button>
                </td>
            </tr>
        {{/each}}

        </tbody>
        <tfoot>

        </tfoot>
    </table>
</template>