<template name="commentList">

    <hr class="my-5">

    <div class="container">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Please enter the information you want to contact the producer." aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button name="commentBtn" class="btn btn-outline-secondary" type="button" id="button-addon2">Enter Your Opinion</button>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">User</th>
                <th scope="col">Content</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Are you going to create a few images?</td>
                <td>2019-05-29</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Danny Joe</td>
                <td>We haven't decided on the exact length of life, but we expect it to be at least 100.</td>
                <td>2019-05-29</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Joohan Lee</td>
                <td>I'm looking forward to another quality work</td>
                <td>2019-05-29</td>
            </tr>
            </tbody>
        </table>
    </div>

</template>