<template name="fundDetail">
    <div id="fundDetail">

        <!-- 대표이미지 & 간략소개 row -->
        <div class="row">

            <!-- 대표이미지 -->
            <div class="col-lg-5">
                <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
                    <img class="img-fluid detailThumb thumbnail-img"
                         style="width:370px;
                             height:370px;
                             background-repeat: no-repeat;
                             background-image: url({{content.contentThumbnail}});
                             background-size: cover"
                    >
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

            </div>
            <!-- 대표 이미지 -->

            <!-- 간략소개 -->
            <div class="col-lg-7">

                {{#each list}}
                {{>tagTmpl}}
                {{/each}}

                <!-- Post title -->
                <h3 class="font-weight-bold mb-3 title"><strong>{{content.contentName}}</strong></h3>

                <p>
                    {{content.contentDesc}}
                </p>

                <div class="group">
                    <div class="progress">
                        <div class="progress-bar progress_current" role="progressbar" style="width: {{fundPercent}}%;" aria-valuenow="{{fundPercent}}" aria-valuemin="0" aria-valuemax="100">{{fundPercent}}%</div>
                    </div>

                <div class="row col-lg-12" style="padding-top: 20px;">
                    <div class="col-md-4">
                        <h6 class="grey-text txt-center mb-md-0 mb-5">attainment rate</h6>
                        <h5 class="fund-txt txt-center my-4" style="margin-top: 1.855em !important;">{{fundPercent}} %</h5>
                    </div>

                    <div class="col-md-4">
                        <h6 class="grey-text txt-center mb-md-0 mb-5">fund-raising Amount</h6>
                        <h5 class="fund-txt txt-center my-4">{{content.investedKlay}} Klay</h5>
                    </div>

                    <div class="col-md-4">
                        <h6 class="grey-text txt-center mb-md-0 mb-5">number of investors</h6>
                        <h5 class="fund-txt txt-center my-4">{{content.contentInvestorCnt}}</h5>
                    </div>
                </div>

            </div>


                <div class="input-group mb-3" style="padding-top: 20px;">

                    <div class="input-group-prepend" style="">
                        <span class="input-group-text" id="basic-addon1">STOCK</span>
                    </div>
                    <input name="stockVal"
                           type="text" class="form-control"
                           value="1"
                           placeholder="Please enter the number of shares you want to purchase."
                           aria-label="Username" aria-describedby="basic-addon1">

                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">KLAY</span>
                    </div>
                    <input name="investVal"
                           type="number" class="form-control"
                           value="1"
                           readonly
                           placeholder="1 Klay = 1 stock."
                           aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div style="width: 100%">
                    <button class="btn btn-secondary btn-lg btn-block"
                            name="investBtn"
                    >Invest</button>
                </div>


            </div>
            <!-- 간략소개 -->

        </div>

        <hr class="my-5">

        <!-- 투자 정보 -->
        <div class="row">

            <section class="text-center my-5 col-lg-12">

                <h2 class="h1-responsive font-weight-bold my-5">Fundamental Information</h2>
                <p class="lead grey-text w-responsive mx-auto mb-5">The content has these investment conditions. Please be sure to refer to the investment.</p>

                <div class="row">

                <div class="col-md-3">
                    <h5 class="font-weight-bold my-4">Total Shares</h5>
                    <h4 class="grey-text mb-md-0 mb-5">{{content.contentTotalSupply}} shares</h4>
                </div>

                <div class="col-md-3">
                    <h5 class="font-weight-bold my-4">selling price</h5>
                    <h4 class="grey-text mb-md-0 mb-5">{{content.contentUsingCost}} KLAY</h4>
                </div>

                <div class="col-md-3">
                    <h5 class="font-weight-bold my-4">The par value</h5>
                    <h4 class="grey-text mb-md-0 mb-5">{{content.contentParValue}} KLAY</h4>
                </div>

                <div class="col-md-3">
                    <h5 class="font-weight-bold my-4">Production Cost</h5>
                    <h4 class="grey-text mb-0">{{content.contentProdCost}} KLAY</h4>
                </div>

                </div>

            </section>

        </div>

        <hr class="my-5">

        <!-- 작가이미지 & 작가소개 & 작가이력 -->
        <div class="team-section my-5">


            <h2 class="h1-responsive font-weight-bold text-center my-5">About the producer's resume</h2>
            <p class="grey-text text-center w-responsive mx-auto mb-5">The producers of SIGHT-STOCK are qualified professionals selected through their own screening standards.</p>

            <div class="row text-center text-md-left">

                <div class="col-lg-12 d-md-flex justify-content-between">

                <!-- 작가 이미지 -->
                <div class="avatar mb-md-0 mb-4 mx-4">
                    <img src="{{content.contentCreator.creatorThumbnail}}" class="rounded z-depth-1" alt="Sample avatar">
                </div>

                <!-- 작가소개 -->
                <div class="mx-4">
                    <h4 class="font-weight-bold mb-3">{{content.contentCreator.name}}</h4>
                    <h6 class="font-weight-bold grey-text mb-3">{{content.contentCreator.job}}</h6>
                    <p class="grey-text">{{content.contentCreator.desc}}</p>

                    </div>

                <!-- 작가이력 -->
                <div class="mx-4">
                    <ul class="list-group list-group-flush">
                        {{#each content.contentCreator.creatorCareerList}}
                            {{>careerTmpl}}
                        {{/each}}
                    </ul>
                </div>
            </div>

            </div>

        </div>

        <hr class="my-5">

        <!-- 최근 제작물 3개 -->
        <div class="row">
            <section class="text-center my-5" style="margin:0 auto;">

                <h2 class="h1-responsive font-weight-bold my-5">a recent production</h2>
                <p class="dark-grey-text w-responsive mx-auto mb-5">A list of recent work and funding completed by the author.</p>

                <div class="row">

                    {{#each topThreeContentList}}
                    {{>topThreeTmpl}}
                    {{/each}}
                </div>

            </section>
        </div>

    <hr class="my-5">

    <!-- 기획 상세내용 -->
<!--    <div class="row">-->
        <section class="text-center my-5">

            <h2 class="h1-responsive font-weight-bold my-5">Planning details</h2>
            <p class="dark-grey-text w-responsive mx-auto mb-5">How do you proceed with the project and describe the work that you expect to see on each schedule.</p>

            <div class="row">

                <p class="dark-grey-text w-responsive mx-auto mb-5">( Skip function implementation )</p>

            </div>

        </section>
<!--    </div>-->

    </div>

</template>


<template name="careerTmpl">
        <li class="list-group-item">{{career}}</li>

</template>

<template name="topThreeTmpl">
    <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">

        <div class="view overlay rounded z-depth-2 mb-4">
            <img class="img-fluid" src="{{contentResourceList.[0].url}}" style="width:370px; height: 250px;" alt="Sample image">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!-- 태그 모음 -->

        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>{{contentName}}</strong></h4>
        <p class="dark-grey-text">
            {{contentDesc}}
        </p>
        <p>at {{dateSet prodFinishDay}}</p>

    </div>
</template>